@import url(./normalize.css);
@import url(./font.css);

:root {
  /* color */
  --color-black: #2c2c2c;
  --color-white: #f5f5f5;
  --color-gray: #8f8f8f;
  --color-navy: #090e14;

  /* size */
  --font-size: 16px;

  /* weight */
  --font-light: 300;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extraBold: 800;
}

html {
  background: #0a1625 url(../images/wrapper_bg.png) repeat 0 0;
  background-blend-mode: overlay;
}

body {
  min-width: 1300px;
  font-family: "Paperlogy";
  font-weight: var(--font-light);
  color: var(--color-black);
}

.displaynone {
  display: none;
}

.inner {
  padding: 40px 3% 40px 25%;
}

h1 img {
  width: 80%;
  mix-blend-mode: hard-light;
}

/* 사이드바 */
.sidebar {
  position: fixed;
  width: 20%;
  min-width: 280px;
  height: 100%;
  padding: 40px 0;
  text-align: center;
  background-color: var(--color-navy);
  mix-blend-mode: screen;
}
.sidebar #searchText,
.sidebar .btnToBookmark {
  box-sizing: border-box;
  display: block;
  width: 85%;
  height: 40px;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar #searchText {
  margin-top: 0;
  padding: 0 0 0 5%;
  background-color: #1c2125;
  color: #6b6b6c;
}
.sidebar .btnToBookmark {
  background-color: #000204;
  color: var(--color-gray);
}

/* 영화 카드 */
.movieCardsArea {
  width: 100%;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}
.movieCardsArea .movieCard {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px #91a3e950;
  cursor: pointer;
}
.movieCardsArea .thumbnail {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.movieCardsArea .thumbnail img {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}
.movieInfo {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}
.movieInfo .title {
  font-weight: var(--font-semibold);
  font-size: 1.02em;
  letter-spacing: -0.008em;
}
.movieCardsArea .movieCard .rating {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 0.8rem;
}
.movieCardsArea .movieCard .rating::before {
  content: "⭐";
}

/* 상세 모달 */
#movieModal {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: none;
}
#movieModal.active {
  display: block;
}
.dimmed {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
#movieModal .modalContent {
  box-sizing: border-box;
  position: fixed;
  width: 45%;
  min-width: 600px;
  height: 450px;
  display: flex;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  padding: 40px 1% 40px 3%;
  border-radius: 10px;
  color: var(--color-white);
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-shadow: 0 0 4px #00000080;
}
#movieModal .modalContent .bottomWrap {
  flex: 1;
}
#movieModal .modalContent .title {
  font-size: 1.4rem;
  letter-spacing: -0.03em;
}
#movieModal .modalContent .movieInfo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 30px 0 0;
  justify-content: space-between;
  overflow-y: scroll;
}
#movieModal .modalContent .thumbnail img {
  height: 100%;
}
#movieModal .modalContent .movieInfo .description,
#movieModal .modalContent .movieInfo span {
  font-family: "Pretendard";
  font-weight: var(--font-light);
  line-height: 1.4;
}
#movieModal .modalContent .btnAddBookmark {
  background-image: linear-gradient(0deg, #181c21 0%, #2a3c4f 100%);
  color: var(--color-white);
  padding: 12px 0;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}
#movieModal .modalContent .btnClose {
  position: absolute;
  top: 2%;
  right: -5%;
  display: flex;
  color: var(--color-white);
  cursor: pointer;
  background: none;
}
#movieModal .modalContent .btnClose i {
  font-weight: var(--font-semibold);
  font-size: 1.5rem;
  opacity: 0.8;
}
